<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qr.book_manager.mapper.TNoticeMapper">

    <resultMap id="BaseResultMap" type="cn.qr.book_manager.pojo.TNotice">
            <id property="noticeId" column="notice_id" />
            <result property="noticeContent" column="notice_content" />
            <result property="noticeTime" column="notice_time" />
    </resultMap>

    <sql id="Base_Column_List">
        notice_id,notice_content,notice_time
    </sql>
</mapper>
